<header>
    <nav>
        <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="pets.html">PETS</a></li>
            <li class="mobile"><a href="faq.html">FAQ</a></li>
            <li class="mobile"><a href="contact.html">CONTACT</a></li>
            <li class="logo"><a href="index.html">Adopt Me Logo</a></li>
            <li class="desktop"><a href="faq.html">FAQ</a></li>
            <li class="desktop"><a href="contact.html">CONTACT</a></li>
            <li><a href="signin.html">LOG IN</a></li>
           
                
        </ul>
    </nav>
    

</header>
<div class="container">
    <div class="search-container"></div>
        <input type="text" id="search-input" placeholder="Search...">
        <button class="search-button">Search</button>
</div>
