<div class="primary-navbar">
<head>
  <link rel="stylesheet" type="text/css" href="primary-navbar.component.css">
</head>
<body>
    <div class="logo">
      <img src="assets/logo.png" alt="Logo">
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Search">
      <button>Search</button>
    </div>
    <div class="menu">
      <div class="hamburger-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  </div>
  