
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFC107;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}



/* About Page */
.about header {
    background-color: #FF5722;
    color: #fff;
}

/* Services Page */
.services header {
    background-color: #2196F3;
    color: #fff;
}

/* Contact Page */
.contact header {
    background-color: #4CAF50;
    color: #fff;
}
